

@font-face {
    font-family: "Monthoer";
    src: url("../font/Monthoers.ttf");
}
p1{
    position: relative;
    top: 0px;
    left: 460px;
    padding: 10px;
    margin: 0px;
    width: 100%;
    font-size: 24pt;
    font-family: Monthoer;
}

body{
    background-image: url("../images/battleship.jpg");
}

div#board{
    position: relative;
    width: 1200px;
    height: 633px;
    margin: auto;
    background-image: url("../images/BattleshipGrid.jpg");
}
div#message{
    position: absolute;
    top: 0px;
    left: 0px;
    color: whitesmoke;
    font-size: 20pt;
}
table{
    position: absolute;
    width: 1100px;
    height: 503px;
    left: 85px;
    top: 90px;
    border-spacing: 0px;

}
td{
    width: 120px;
    height: 94px;
}
form{
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 15px;
    background-color: deepskyblue;
}
form input{
    background-color: aqua;
    border-color: white;
    font-size: 1em;
}

.hit{
    background: url("hit1.gif");
}
.miss{
    background: url("miss.png");
}
a:link{
    text-decoration: none;
    color: cornflowerblue;
}
a:visited{
    color: darkcyan;
}
a:hover{
    color: aqua;
    text-decoration: underline;
}
a:active{
    color: darkcyan;
}