body{
    background-image: url("images/outer.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: repeat-x;
    height: auto;
    width: auto;
    overflow-x: hidden;
}
@font-face {
    font-family: "Redgar";
    src: url("font/Redgar.ttf");
}

@font-face {
    font-family: "Monthoer";
    src: url("font/Monthoers.ttf");
}
h1{
    color: cadetblue;
    /*background-color: dimgray;*/
    text-align: center;
    text-shadow: 5px 5px  5px black;
    /*text-decoration: underline;*/
    font-family: Redgar;
    font-size: 5.9vw;
    lighting-color: light;
    position: fixed;
    top: 10px;
    left: 480px;
}
#leftArrow{
    position: absolute;
    left: 0px;
    top: 200px;
}
#rightArrow{
    position: absolute;
    right: 0px;
    top: 200px;
}
p{
    color: white;
    /*background-color: darkcyan;*/
    font-size: 1.7vw;
    font-family: Monthoer;
    position: relative;
    left: 120px;
    top: 100px;
}
strong{
    font-size: 2.5vw;
}
p1{
    position: relative;
    top: 5px;
    left: 460px;
    padding: 10px;
    margin: 0px;
    width: 100%;
    font-size: 2.5vw;
    font-family: Monthoer;
}
p5,p6{
    font-size: 18pt;
    font-family: Monthoer;
}

a:link{
    text-decoration: none;
    color: cornflowerblue;
}
a:visited{
    color: darkcyan;
}
a:hover{
    color: aqua;
    text-decoration: underline;
}
a:active{
    color: darkcyan;
}

table{
    width: auto;
    max-width: 1100px;
    color: darkgrey;
    opacity: 100;
    font-size: 1.7vw;
    position: relative;
    left: 200px;
    top: 130px;
    font-family: Monthoer;
}
tr{
    color: white;

}
tr.hover{
    background-color: aqua;
}
th1{
    font-size: 2.3vw;
    text-decoration: underline;
    color: white;
    position: relative;
    left: 25vw;
    top: 8vw;
    font-family: Monthoer;

}
.social_links{
    position: absolute;
    top: 10px;
    margin: auto;
}
.social-slide {
    /*display: inline-block;*/
    height: 48px;
    width: 48px;
    margin: 10px;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    transition: all ease 0.3s;
}
.social-slide:hover {
    background-position: 0px -48px;
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.8);
}
.twitter-hover {
    background-image: url('images/twitter-hover.png');
}
.facebook-hover {
    background-image: url('images/facebook-hover.png');
}
.google-hover {
    background-image: url('images/google-hover.png');
}
.linkedin-hover {
    background-image: url('images/linkedin-hover.png');
}
